<div id="about" class="bg-gray-100 text-gray-900 py-16 px-2 md:px-10">
    <div>
        <h1 class="text-2xl md:text-3xl font-bold mb-2">About Me</h1>
        <div class="h-1 w-16 bg-blue-700 mb-4 rounded"></div>
        <p class="text-gray-600 mb-6 max-w-2xl">
            Get to know more about me and my skills.
        </p>
    </div>

    <div class="flex flex-col md:flex-row items-center gap-10">
        <div class="flex-shrink-0">
            <img src="/../img/about.png" alt="About Me"
                class="rounded-2xl cursor-pointer md:w-96 h-80 md:h-96 object-cover">
        </div>

        <div class="flex-1 space-y-6">
            <p class="text-gray-600 leading-relaxed">
                A passionate Full Stack web developer from Nepal. I specialize in HTML, CSS, Sass, JavaScript, Node.js,
                Express.js, React, and MERN stack. I love building interactive and scalable web apps. Explore my
                projects to see my journey in web development.
            </p>
            <p class="text-gray-600 mb-12 max-w-2xl">
                I have experience working with diverse technologies and frameworks. My journey started with front-end
                development, and over the years, I’ve expanded to full-stack projects including backend development with
                Node.js, databases, and API integrations.
            </p>
            <p class="text-gray-600 leading-relaxed">
                I enjoy problem-solving, learning new technologies, and contributing to open-source projects. I am
                motivated by creating applications that improve user experiences and simplify complex tasks.
            </p>
            <p class="text-gray-600 leading-relaxed">
                Outside of coding, I have a strong interest in IoT projects, exploring new programming languages, and
                staying up-to-date with tech trends.
            </p>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 text-gray-600">
                <div class="space-y-2">
                    <p><strong>Website:</strong> <span
                            class="text-blue-400 hover:underline">www.manoj-neupane.com.np</span></p>
                    <p><strong>Phone:</strong> +977 9862561269</p>
                    <p><strong>City:</strong> Kawasoti, Nepal</p>
                </div>
                <div class="space-y-2">
                    <p><strong>Degree:</strong> Bachelor of Information Technology (BIT) <em>Expected Graduation:
                            October 2026</em></p>

                    <p><strong>Email:</strong>
                        <span
                            class="text-blue-400 hover:underline text-sm break-all sm:whitespace-nowrap">maanojneupane111@gmail.com</span>
                    <p><strong>Freelance:</strong> Available</p>
                </div>
            </div>
        </div>
    </div>
</div>