@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100..900&display=swap');

:root {
    --font-primary: "Prompt", sans-serif;
}

body {
    font-family: var(--font-primary);
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3a3c3e; /* dark gray */
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 68, 255);
  border-radius: 5px;
  animation: scrollAnim 3s linear infinite;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #06b6d4, #3b82f6);
}

/* Keyframes for animation */
@keyframes scrollAnim {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
